* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 32px;
  color: #333;
  background-color: rgb(233, 238, 240);
}

#header {
  position: static;
  width: 100%;
  height: 100px;
  background-color: rgb(221, 239, 240);
}

.nav {
    width: 100%;
    height: 80px;
    background-color: white;    
} 

#name {
  color: white;
  background-color: rgb(73, 187, 176);
  width: 50%;
  height: 80px;
  padding: 10px;
  margin-right:-150px;
  margin-left: 100px;
  float: left;
}

#blank {
    background-color: white;
    width: 20%;
    height: 80px;
    padding: 10px;
    float: left;    
}

#about {
    background-color: white;
    width: 10%;
    height: 80px;
    padding: 10px;
    float: left;
    
}

#portfolio {
    background-color: white ;
    width: 10%;
    height: 80px;
    padding: 10px;
    float: left;
}
 
#contact {
    background-color: white;
    width: 10%;
    height: 80px;
    padding: 10px;
    float: left;
}

.bio {
    margin: 100px;
    margin-top: 30px;
    background-color: white;
    height: 1100px;

}

h4 {
    margin: 5px;
    margin-top: 30px;
    color: turquoise;
    padding: 10px;
}

.line {
  width: 100%;
  border-bottom: 1px solid rgb(141, 204, 212);
}

p {
  font-size: 15px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.footer {
    font-size: 10px;
    color: white;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: rgb(94, 92, 92); 
    padding-top: 5px;
    margin-top: 0px;
    position: sticky; 
    left: 0 ; right: 0; bottom: 0; 
}
.line2 { 
    /* margin: 40px; */
    width: 100%;
    border-bottom: 5px solid rgb(141, 204, 212);

  }
img {
      transform: rotate(90deg);
      width: 150px;
      height: 150px;
      float: left;
      margin-right: 10px;
      margin-bottom: -10px;

  }

#about:hover { background-color: #49bbb0; }
#portfolio:hover { background-color:#49bbb0; }
#contact:hover { background-color: #49bbb0; }

a:visited { color: rgb(26, 109, 204); }
a:hover { color: rgb(248, 0, 41); }

@media only screen and (max-width: 640px);

  /* add site link */